<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> BRB doing maintenence to the SERVER QUADOSH</title>
    </head>
    <body>
      <h1> BRB doing maintenence to the SERVER QUADOSH</h1>
      <p>we are doing maintenence BRB</p>
        {{> footer}}
    </body>

</html>
